<div class="shadow_box">
  <h1>Log In</h1>

  <form class="user_form" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <div class="form_section">
        <label for="username">Username:</label>
        <input
          type="text"
          name="user[username]">
      </div>

        <div class="form_section">
          <label for="password">Password:</label>
          <input
            type="password"
            name="user[password]">
        </div>

        <br>

        <input type="submit" value="Log In">
      </form>
</div>
