<h1>Comment on <%= @post.title %></h1>

<form action="<%= comments_url %>" method="post">
  <%= auth_token %>

<label for="comment">Comemnt:</label>
<textarea name="comment[content]" rows="8" cols="80"></textarea>

<input type="submit" name="submit" value="Create Comment">
</form>
