
<ul class="vote_buttons_ul">
  <li>
    <form action="<%= upvote_comment_url(comment) %>" method="post">
      <%= auth_token %>
      <input type="submit" class="upvote" value="&#xf0aa;" />
    </form>
  </li>
  <li>
    <form action="<%= downvote_comment_url(comment) %>" method="post">
      <%= auth_token %>
      <input type="submit" class="downvote" value="&#xf0ab;" />
    </form>
  </li>
</ul>
