<ul id="option_dropdown" class="option_dropdown hidden">
  <li>
    <a href="<%= new_post_url %>">
      New Food
    </a>
  </li>
  <li>
      <a href="<%= new_sub_url %>">
        New Location
      </a>
  </li>
</ul>
