<ul id="option_dropdown" class="option_dropdown hidden">
  <li>
    <p>
      <a href="<%= new_sub_url %>">
        New Location
      </a>
    </p>
  </li>
  <li>
    <p>
      <a href="<%= new_post_url %>">
        New Food
      </a>
    </p>
  </li>
</ul>
