<ul id="option_dropdown" class="option_dropdown hidden">
  <li>
    <a href="<%= new_post_url %>">
      <p class="dropdown_dashes">-</p>New Post<p class="dropdown_dashes">-</p>
    </a>
  </li>
  <li>
      <a href="<%= new_sub_url %>">
        <p class="dropdown_dashes">-</p>New Sub<p class="dropdown_dashes">-</p>
      </a>
  </li>
</ul>
