<div class="sub_container">
  <div class="pages_shadow_box">
    <h1>Welcome to Foodie!</h1>
    <h2>The Reddit dedicated to food</h2>
    <h3><a href="<%= new_user_url %>">Create Your Acccount</a> to be a part of the conversation!</h3>
    <h2>THEN:</h2>
    <h3> - Browse our extensive list of subs to find the best food topics.</h3>
    <h3> - Subscribe to your favorite subs to keep up to date with the top posts.</h3>
    <h3> - Upvote or Downvote the best posts and comments on each sub.</h3>
    <h2>AND</h2>
    <h3>Add additional subs, posts, or comments of your own!</h3>

    <h1>
      <a href="<%= subs_url %>">
          Begin Your Foodie Journey
      </a>
    </h1>
    </div>
</div>
