<h1>Welcome to Foodie!</h1>
<h2>The Reddit dedicated to food!</h2>
<h3>Browse our extensive list of subs to find the best food topics</h3>
<h4>Create an acccount to be a part of the conversation, you can:</h4>
<h3>Subscribe to your favorite subs to see top posts alongside your other
  subscribed topics</h3>
<h3>Upvote or Downvote the best posts and comments on each sub</h3>
<h4>AND</h4>
<h3>Add additional subs, posts, or comments of your own!</h3>

<a href="<%= subs_url %>">
  <h2>Begin Your Foodie Journey</h2>
</a>
