<h1>Welcome to Foody!</h1>
<h2>A place to find the best food to eat in your favorite locations.</h2>
<h3>Browse our extensive list of locations to find the best local dishes</h3>
<h4>OR</h4>
<h3>Subscribe to your favorite locations to see the best form each</h3>
<h4>You can</h4>
<h3>Add new locations of your choosing</h3>
<h4>AND</h4>
<h3>Add additional foods for your favorite locations!</h3>

<a href="<%= subs_url %>">
  <h2>Begin Your Food Journey</h2>
</a>
