<h1>Post:</h1>
<h2><%= @post.title %></h2>
<h4>Author:</h4>
<h4><%= @post.author.username %></h4>
<h3>URL:</h3>
<h3><%= @post.url %></h3>
<h3>Content:</h3>
<p><%= @post.content %></p>
<h3>Sub:</h3>
<h3>TBD</h3>
