$blue: #5171A5;
$dark-green: #043921;
$medium-green: #297045;
$light-green: #399E5A;
$bright-green: #2E933C;
$white: #FFFFF3;
$violet: #3F3047;
$yellow: #F7F745;

$logo-font: 'Merienda One', cursive;
$main-font: 'Varela Round', sans-serif;

$header-height: 70px;
