@import 'base';

.header_dropdown, .option_dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 2;
  right: 0%;
  top: $header-height;
  height: 100%;
  width: 25%;
  li {
    background-color: $medium-green;
    border-left: 3px solid $dark-green;
    border-right: 3px solid $dark-green;
    display: flex;
    justify-content: center;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;

    a {
      justify-content: center;

    }
    input {
      display: flex;
      flex-direction: column;
      font-size: 19px;
      font-weight: bolder;
      border: 2px solid $dark-green;
      padding: 7px;
    }

    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  li:last-child {
    border-bottom: 3px solid $dark-green;
  }
  li:hover {
    background-color: $dark-green;
    .dropdown_dashes {
      display: inline;
      color: $light-green;
    }
    input {
      border: 2px solid $light-green;
    }
  }
}

.dropdown_dashes {
  display: none;
}

@media all and(max-width: 1000px) {
  .header_dropdown,.option_dropdown {
    width: 30%;
    right: 3%;
  }
}
