@import 'base';

footer {
  display: flex;
  flex-direction: column;
  color: $white;
}
.info_footer {
  justify-content: space-around;
  padding: 50px 25px;
  display: flex;
  flex-direction: row;
  background-color: $medium-green;
}
.footer_list {
  padding: 5px 15px;
  li:hover {
    color: $yellow;
  }
  li h3 {
    color: $yellow;
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 22px;
    font-weight: bolder;
  }
}
.footer_div {
  flex: 0.25 0.5;
  border-radius: 30px;
  border: 1px solid $white;
  margin-left: 15px;
  min-width: 240px;
  max-height: 160px;
  h3 {
    background-color: $white;
    border-bottom: 1px solid $white;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: $medium-green;
  }
  ul {
    padding: 5px 25px;
    border-radius: 30px;

    li {
      border-radius: 20px;
      padding: 1%;
    }
    li i:hover {
      color: $yellow;
    }
  }
}
.base_footer {
  display: flex;
  padding: 15px;
  background-color: $dark-green;
}

@media all and(max-width: 600px) {
  .info_footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    .footer_div {
      width: 50%;
      padding-bottom: 10px;
      margin-bottom: 2%;
    }
  }
}
