@import 'base';

.hidden {
  display: none;
}
.logo_div {
  margin-top: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  background-color: $dark-green;
  color: $white;
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  ul {
    display: flex;

    li {
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid $dark-green;
    }
    li:hover {
      background-color: $medium-green;
      color: $yellow;
    }
    .user_li a {
      padding-right: 20px;
      padding-left: 20px;
      cursor: pointer;
    }
    .menu_li a {
      padding-right: 20px;
      padding-left: 20px;
      cursor: pointer;

    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}

@media all and(max-width: 1000px) {

  header {
    .user_ul {
      li {
        display: none;
      }
      .user_li {
        display: flex;

      }
      .menu_li {
        display: flex;
      }
    }
  }
}
