@import 'base';

.logo {
  font-family: $logo-font;
  color: $white;
  font-size: 39px;
}

.logo_div {
  display: flex;
  padding: 10px;
  i {
    color: $white;
    font-size: 39px;
    padding-top: 4px;
    padding-right: 4px;
  }
}
