// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'base';

.post_top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 1%;
  h1 {
      color: $dark-green;
  }
  h2 {
    color: $violet;
  }
  h3 {
    color: $bright-green;
    margin-left: 1%;
  }
  h3:hover {
    text-decoration: underline;
  }
  h4  {
    color: $dark-green;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 1%;
  }
  p {
    font-size: 12px;
    margin-left: 5%
  }

}

.post_shadow_box {
  -webkit-box-shadow: -3px 3px 10px 3px rgba(0,0,0,0.50);
  box-shadow: -3px 3px 10px 3px rgba(0,0,0,0.50);
  border-radius: 10px;
  padding: 5%;
  margin: 3% 3%;
  display: flex;
  flex-direction: column;
  h1 {
      color: $dark-green;
      display: flex;
      flex-wrap: wrap;
  }
  h2 {
    color: $violet;
  }
  h3 {
    color: $bright-green;
    margin-left: 1%;

  }
  h3:hover {
    text-decoration: underline;
  }
  h4  {
    color: $dark-green;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 1%;
  }
}
.post_creator {
  display: flex;
  margin-top: 1%;
  align-items: baseline;
  h3 {
    margin-left: 5%;
  }
}

.post_container {
  max-width: 780px;
  margin-top: 1%;
}

.posted_subs {
  li a h4 {
    font-size: 18px;
    color: $bright-green;
  }
  li a h4:hover {
    text-decoration: underline;
  }
}

@media all and(max-width: 650px) {
  .post_container {
    width: 99%;
    margin-left: 2%;
  }
}
