@import 'base';

.sort_bar {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 3%;
  h2, h1  {
    color: $dark-green;
  }
  p {
    font-weight: bolder;
    margin-bottom: 0.5%;
  }
  select {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
    display: flex;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 120px;
    padding: 5px;
    height: 30px;
  }
  .select_wrapper {
    position: relative;
  }

  .select_wrapper::after {
    content: "▼";
    font-size: 1rem;
    bottom: 5px;
    left: 100px;
    position: absolute;
    pointer-events: none;
  }

  input[type=submit] {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.45);
    align-self: baseline;
    margin-top: 1%;
    background-color: $bright-green;
    color: $violet;
    padding: 1% 4%;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    border: 3px solid $medium-green;
  }
  input[type=submit]:hover {
    color: $yellow;
    background-color: $medium-green;
  }

}
